#life{
	box-sizing:border-box;
	position: relative;
	text-decoration: none; 
	margin-right:auto
}
#life-339{
	text-decoration: none; 
	background:#000000;
	margin-right:auto
}
#life-340{
	text-decoration: none;
	background:#000000;	
	margin-right:auto
}
#life-341{
	text-decoration: none; 
		background: #000000;
		text-align:center;
		margin-right:auto
}
#life-342{
	background: #fbfbfb;
	text-align:left;
	margin-right:auto
}
#life-344{
background: #fbfbfb;
margin-right:auto
}

#life-343{
	background: #fbfbfb;
	text-align:right;
	margin-right:auto
}
